[submodule "gitaar"]
	path = gitaar
	url = https://github.com/eprintsug/gitaar.git 
[submodule "ingredients/material"]
	path = ingredients/material
        url = https://bitbucket.org/ulcc-art/material/git
[submodule "site_lib"]
	path = site_lib
	url = https://github.com/eprintsug/ulcc-site_lib.git
	branch = 3_4
[submodule "ingredients/altmetric"]
	path = ingredients/altmetric
	url = https://github.com/eprintsug/altmetric.git
	branch = 3_4
[submodule "ingredients/datacitedoi"]
	path = ingredients/datacitedoi
	url = https://github.com/eprintsug/DataCiteDoi.git
	branch = 3_4
[submodule "ingredients/datesdatesdates"]
	path = ingredients/datesdatesdates
	url = https://github.com/eprintsug/datesdatesdates.git
	branch = 3_4
[submodule "ingredients/funders_advanced"]
	path = ingredients/funders_advanced
	url = https://github.com/eprintsug/funders_advanced.git
	branch = 3_4
[submodule "ingredients/hefce_oa"]
	path = ingredients/hefce_oa
	url = https://github.com/eprintsug/hefce_oa.git
	branch = 3_4
[submodule "ingredients/irstats2"]
	path = ingredients/irstats2
	url = https://github.com/eprintsug/irstats2.git
	branch = 3_4
[submodule "ingredients/orcid_support"]
	path = ingredients/orcid_support
	url = https://github.com/eprintsug/orcid_support.git
	branch = 3_4
[submodule "ingredients/reports"]
	path = ingredients/reports
	url = https://github.com/eprintsug/reports.git
	branch = 3_4
[submodule "ingredients/rioxx2"]
	path = ingredients/rioxx2
	url = https://github.com/eprintsug/rioxx2.git
	branch = 3_4
[submodule "ingredients/simply_advanced_searchbar"]
	path = ingredients/simply_advanced_searchbar
    url = https://github.com/eprintsug/simply_advanced_searchbar.git
	branch = 3_4
[submodule "ingredients/youtube_import"]
	path = ingredients/youtube_import
	url = https://github.com/eprintsug/youtube_import.git
	branch = 3_4
[submodule "ingredients/recollect"]
	path = ingredients/recollect
    url = https://github.com/eprintsug/recollect.git
    branch = 3_4
[submodule "ingredients/collections"]
	path = ingredients/collections
    url = https://github.com/eprintsug/collections
    branch = 3_4
[submodule "ingredients/ref_support"]
	path = ingredients/ref_support
    url = https://github.com/eprints/ref_support.git
    branch = 3_4
