[submodule "site_lib"]
	path = site_lib
	url = https://github.com/eprintsug/ulcc-site_lib
[submodule "gitaar"]
	path = gitaar
	url = https://github.com/eprintsug/gitaar
[submodule "ingredients/material"]
	path = ingredients/material
	url = https://bitbucket.org/ulcc-art/material.git
